.my-footer {
  width: 100vw;
  height: 50px;

  display: flex;
  justify-content: center;
 /* margin-top: 100px; */
  align-items: center;
  color: white;
 font-weight: bolder;
  box-shadow: 0px 0px 4px rgba(29, 27, 27, 0.1);
  background-image: url('https://images.unsplash.com/photo-1654198340681-a2e0fc449f1b?fm=jpg&w=1000&h=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}

.my-footer p {
  margin: 15px;
}
