
.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
   
   
}
 
  .content-wrap {
    flex: 1;
    /* background-position: center;
    opacity: 1;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
    background-image: url("https://images.unsplash.com/photo-1491183672482-d0af0e44929d?fm=jpg&w=3000&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"); */
  }


 

  
  /* @media (max-width: 600px){
    .app-container{
      background-image: url("https://images.unsplash.com/photo-1617975178139-4b9f9260a5f6?fm=jpg&w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    }
  } */

  /* https://images.unsplash.com/photo-1506748686214-e9df14d4d9d0?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80 */

  /* src="https://images.unsplash.com/photo-1518655048521-f130df041f66?fm=jpg&w=3000&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" */

